<nav class="sidebar bg-dark text-white d-flex flex-column justify-content-between p-3" style="width: 250px; height: 100vh; position: fixed; left: 0; top: 0;">

    <div>
        <h4 class="text-center mb-4">NCH - Contabilitate</h4>
        <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="#" data-view="journals">Jurnale</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="#" data-view="accrual_bonds">Accruals - Bonduri</a>
        </li>
        <li class="nav-item mb-2"></li>
            <a class="nav-link text-white" href="#" data-view="accrual_deposits">Accruals - Depozite</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="#" data-view="portfolio">Portofoliu</a>
        </li>
        <li class="nav-item mb-2"></li>
            <a class="nav-link text-white" href="#" data-view="partners">Parteneri</a>
        </li>
        <li class="nav-item mb-2"></li>
            <a class="nav-link text-white" href="#" data-view="instruments">Instrumente</a>
        </li>
        <li class="nav-item mb-2"></li>
            <a class="nav-link text-white" href="#" data-view="deposites">Depozite</a>
        </li>
        <li class="nav-item mb-2"></li>
            <a class="nav-link text-white" href="#" data-view="operations">Operatiuni</a>
        </li>
        <li class="nav-item mb-2"></li>
            <a class="nav-link text-white" href="#" data-view="accountability_accounts">Conturi contabile</a>
        </li>
        <li class="nav-item mb-2"></li>
            <a class="nav-link text-white" href="#" data-view="ai_support">Suport AI</a>
        </li>
        <li class="nav-item mb-2"></li>
            <a class="nav-link text-white" href="#" data-view="doc_exports">Exporturi / Documente</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="#" data-view="statistics">Statistici</a>
        </li>
        <li class="nav-item mb-2"></li>
            <a class="nav-link text-white" href="#" data-view="users">Utilizatori</a>
        </li>
        <li class="nav-item mb-2"></li>
            <a class="nav-link text-white" href="#" data-view="errors">Erori</a>
        </li>
        </ul>
    </div>
    <div class="mt-4"></div>
        <button id="nchExtractBtn" class="btn btn-outline-light w-100">Extract App</button>
    </div>
    <div class="mt-4">
        <button id="logoutBtn" class="btn btn-outline-light w-100">Deconectare</button>
    </div>
  </nav>
